<h1>My Tasks</h1>
<% @tasks.each do |task| %>
  <h2>
    <%= link_to task.title, task_path(task) %>
    <%= task.completed ? "✅" : "⚠️" %> </h2>
    <div class="link btd">
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </div>
<% end %>
<br>
<div class="link ">
<%= link_to 'Create a new task', tasks_new_path %> </h2>
</div>
